/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 7em;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 5em;
    background-color: transparent;
    border-top: 1px solid #000000;
    padding-bottom: 1em;
    padding-top: 1em;
}

#content {
    margin-bottom: 1em;
}

.social-message {
    color: #000000;
    font-size: .6em !important;
    vertical-align: middle !important;
    padding-top: .25em;
}

.footer-social {
    font-size: .7em !important;
    font-weight: 900 !important;
    padding-top: 10px;
}

.zocial.icon.facebook {
    max-width: 2.1em;
    border-radius: .0em;
    border: 0px solid #777;
    padding-right: .3em;
}

.zocial.icon.facebook:before {
    width: 1.6em;
}

#facebook-logo {
    padding-left: 0em;
}

/**
 * Smartphones
**/
@media (max-width: 767px) {
    .social-message {
        padding-left: 2.6em;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .social-message {
        padding-left: 0.7em;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .social-message {
        padding-left: 2.3em;
    }
}

@media (min-width: 1200px) {
    .social-message {
        padding-left: .3em !important;
    }
}

#footer-copyright {
    margin-top: 1.3em;
    margin-bottom: 1em;
    padding-top: .3em;
    border-top: 1px solid #000000;
    font-size: .6em;

}