/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 110px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 130px;
    padding-top: 20px;
    background-color: transparent;
    border-top: 1px solid #000000;

    margin-bottom: 30px;
}

#facebook-id-fontawesome {
    color: #3a5795;
}

.text-muted {
    color: #000000;
}