/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 1em;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 5em;
    background-color: transparent;
    border-top: 1px solid #000000;
    padding-bottom: 1em;
    padding-top: 1em;
}

#facebook-id-fontawesome {
    color: #3a5795;
}

.social-message {
    color: #000000;
    font-size: .6em !important;
    vertical-align: middle !important;
    padding-top: .25em;
}