<footer class="footer">
    <div class="container">

        <div class="col-lg-3 col-lg-push-3 col-md-3 col-md-push-3 col-sm-4 col-sm-push-1 col-xs-9 col-xs-push-1 text-justify">

            <a href="https://www.facebook.com/stemfyla" id="facebook-logo"
               class="col-lg-2 col-md-3 col-sm-2 col-xs-2">
                <img src="../appapp/img/logos/fcbk-logo.png" id="hidden-fcbk-logo" height=42 alt="Logo" class="img-rounded">
            </a>


            <div class="social-message col-lg-10 col-lg-pull-0 col-md-8 col-md-pull-2 col-sm-8 col-sm-pull-0 col-xs-10 col-xs-pull-1">
                Κάντε μας like στο:<br/>
                Facebook
            </div>

        </div>

        <div class="col-lg-3 col-lg-push-3 col-md-3 col-md-push-3  col-sm-3 col-sm-push-3 col-xs-3 col-xs-pull-2">
            Επικοινωνία
        </div>


    </div>
    <!-- /.container -->

    <div class="container" id="footer-copyright">
        <div class="col-md-3 col-md-push-3 col-xs-6 col-xs-push-1">
            Copyright © Stemfyla 2014
        </div>

        <div class="col-md-3 col-md-push-3 col-xs-6 col-xs-push-1">
            Powered by<a href="mailto:ndmdevelop@gmail.com" style="text-decoration: none;"> NDM</a>
        </div>

    </div>
</footer>
<!-- /.footer -->
