@import url('header.css');
@import url('footer.css');
@import url('catalog.css');

@font-face {
    font-family: PFUniversal-Regular;
    src: url("../fonts/PFUniversal-Regular.otf") format("opentype");
}

@font-face {
    font-family: PFUniversal-Light;
    src: url("../fonts/PFUniversal-Light.otf") format("opentype");
}

.full {
    /*background: url("../img/backgrounds/background-1920x1080.jpg") no-repeat center center fixed;*/

}

body {
    padding-top: 30px !important;
    font-family: PFUniversal-Light, 'Roboto' !important;, sans-serif;
    font-weight: 900 !important;
    font-size: 2em !important;
    background: none;
    color: #000000;
    min-height: 400px;
}

.footer-social {
    font-size: .7em !important;
    font-weight: 900 !important;
    padding-top: 10px;
}

.panel, .well, .panel-default {
    background-color: transparent;
    border-color: transparent;
}

/*material page*/
.image-source-link {
    color: #98C3D1;
}

.mfp-with-zoom .mfp-container,
.mfp-with-zoom.mfp-bg {
    opacity: 0;
    -webkit-backface-visibility: hidden;
    /* ideally, transition speed should match zoom duration */
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.mfp-with-zoom.mfp-ready .mfp-container {
    opacity: 1;
}

.mfp-with-zoom.mfp-ready.mfp-bg {
    opacity: 0.8;
}

.mfp-with-zoom.mfp-removing .mfp-container,
.mfp-with-zoom.mfp-removing.mfp-bg {
    opacity: 0;
}

.row.popup-gallery img {
    filter: gray; /* IE6-9*/
    /*-webkit-filter: grayscale(1); *//* Google Chrome, Safari 6+ & Opera 15+ */
    -webkit-box-shadow: 0px 2px 6px 2px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 2px 6px 2px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 2px 6px 2px rgba(0, 0, 0, 0.75);
}

.row.popup-gallery img:hover {
    filter: none; /*IE6-9 */
    -webkit-filter: grayscale(0); /*Google Chrome, Safari 6 + & Opera 15 + */
}

.thumbnail {
    background-color: transparent;
    border: 0px;
}

a {
    color: #5F021F;
    text-decoration: none;
}

#fb5 #fb5-about h1, #fb5 #fb5-about h2, #fb5 #fb5-about h3, #fb5 #fb5-about h4, #fb5 #fb5-about h5, #fb5 #fb5-about h6 {
    color: #000;
}

#fb5 #fb5-about p, #fb5 #fb5-about li {
    color: black;
    font-family: PFUniversal-Light;
    font-size: 1.5em;
}

.row.popup-gallery {
    margin-right: 15px;
    margin-left: 15px;
    padding-top: 17px;
}

.fa-spin {
    -webkit-animation: fa-spin 1.3s infinite linear;
    animation: fa-spin 1.3s infinite linear;
}

#fb5-container-book {
    /*cursor: zoom-in !important;*/
    top: 0 !important;
}

#fb5 #fb5-footer {
    height: 4.6em;
}

.slick-slider-c {
    background: none repeat scroll 0 0 rgba(95, 2, 31, 0.8);
    box-shadow: 0 0 40px rgba(95, 2, 31, 0.8);
}

.center-c {
    float: none;
    margin-left: auto;
    margin-right: auto;
}

#fb5-cover-title {
    position: relative !important;
    border: none !important;
    top: 8em !important;
    font-family: PFUniversal-Light, 'Roboto' !important;, sans-serif;
    color: black !important;
}

h1 {
    font-weight: bolder;
}

hr {
    border-top: 1px solid #5F021F;
}

legend {
    border-bottom: 1px solid #5F021F;
}

h3 {
    font-weight: 600;
}

#catalog-title {
    margin-left: 8px !important;
}

@media (max-width: 767px) {
    #fb5 {
        height: 10em !important;
    }
}

@media (min-width: 768px) {
    #home-main-p {
        padding-left: 3em;
        padding-right: 3em
    }
}
