<div class="row">
    <div>
        <div class="panel panel-default">
            <div class="text-center header">STEMFYLA</div>
            <div class="panel-body text-center">
                <h4></h4>

                <div>
                    ΦΑΝΕΡΩΜΕΝΗΣ 8<br/>
                    Εμπορικό Κέντρο Πλατείας Φανερωμένης<br/>
                    15561 Χολαργός<br/>
                    Αθήνα<br/>
                    21 6900 0752<br/>
                    info@stemfyla.gr<br/>
                </div>
                <hr/>
            </div>
        </div>
    </div>
</div>

<div class="col-xs-10 col-xs-offset-1">
    <div class="well well-sm form-group">
        <form class="form-horizontal" name="reservationForm" ng-controller="ReservationController as reservationCtrl"
              novalidate role="form" ng-submit="reservationForm.$valid  && reservationCtrl.sendReservation()">
            <fieldset>
                <legend class="text-center header">Συμπληρώστε τη παρακάτω φόρμα για να κάνετε κράτηση</legend>
                <div class="form-group">
                    <div class="col-md-5 col-md-offset-1">
                        <input name="fName" ng-model="reservationCtrl.reservation.fName" type="text" placeholder="Ονομα"
                               ng-minlength="3" required class="form-control">
                        <span ng-show="reservationForm.fName.$dirty && !reservationForm.fName.$valid" class="error">Το Όνομα είναι υποχρεωτικό.
                            Ελάχιστο 3 χαρακτήρες.</span>
                    </div>
                    <div class="col-md-5 col-md-offset-0">
                        <input name="lName" ng-model="reservationCtrl.reservation.lName" type="text"
                               placeholder="Επίθετο"
                               ng-minlength="3" required class="form-control">
                        <span ng-show="reservationForm.lName.$dirty && !reservationForm.lName.$valid" class="error">Το
                            Το επίθετο είναι υποχρεωτικό. Ελάχιστο 3 χαρακτήρες.</span>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-10 col-md-offset-1">
                        <input name="email" type="email" ng-model="reservationCtrl.reservation.email"
                               placeholder="Email"
                               class="form-control" required>
                        <span ng-show="reservationForm.email.$dirty && !reservationForm.email.$valid" class="error">Η
                            διεύθυνση ηλεκτρονικού ταχυδρομείου δεν είναι έγκυρη.</span>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-10 col-md-offset-1">
                        <input ng-model="reservationCtrl.reservation.phone" name="phone" type="number" ng-minlength="10"
                               placeholder="Τηλέφωνο"
                               class="form-control">
                        <span ng-show="reservationForm.phone.$dirty && !reservationForm.phone.$valid" class="error">
                            Ο αριθμός τηλεφώνου δεν είναι έγκυρος. Ελάχιστο 10 αριθμοί.</span>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-10 col-md-offset-1">
                                <textarea class="form-control" name="message"
                                          ng-model="reservationCtrl.reservation.message"
                                          placeholder="Γράψτε το μήνυμά σας εδώ και θα σας απαντήσουμε άμεσα"
                                          ng-minlength="10"
                                          rows="3" required></textarea>
                        <span ng-show="reservationForm.message.$dirty && !reservationForm.message.$valid" class="error">
                            Το μήνυμά σας είναι πολύ μικρό. Παρακαλώ προσθέστε περισσότερες λέξεις.</span>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-10 col-md-offset-1">
                        <div
                                vc-recaptcha
                                theme="'light'"
                                key="model.key"
                                on-create="setWidgetId(widgetId)"
                                on-success="setResponse(response)" class="pull-right"
                                ></div>
                        <div hidden="hidden" name="gRecaptchaResponse"
                             ng-model="reservationCtrl.reservation.gRecaptchaResponse"></div>
                    </div>
                </div>
				
                <div class="form-group">
                    <div class="col-md-10 col-md-offset-1 text-center">
                        <button type="submit" class="btn btn-primary btn-lg">Αποστολή</button>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-10 col-md-offset-1">
                    </div>
                </div>
            </fieldset>
        </form>
    </div>

</div>

